main section {
    min-height: calc(100vh - 300px);
    text-align: center;
}

main section h1 {
    text-align: center;
    padding-top: 25px;
    text-transform: uppercase;
}

main section section {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 1280px;
    margin: 0 auto;
}

main section section div:nth-child(1) {
    padding-left: 10px;
}

main section section div:nth-child(2) {
    padding-right: 10px;
}

main section section ul {
    text-align: left;
}

main section section ul li {
    list-style: none;
    padding: 5px 0;
}

main section section input, main section section textarea {
    width: 400px;
    border: none;
    border: solid 1px #FD6863;
    padding: 5px;
}

main section section input {
    height: 35px;
    margin-bottom: 15px;
}

main section section textarea {
    height: 150px;
    resize: none;
}

main section button {
    text-transform: uppercase;
    margin-right: 15px;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
    transition: 0.5s;
    background-color: #fd6863;
    border: none;
    border: solid 1px #FD6863;
}

main section button:hover {
    background-color: #fff;
    color: #FD6863;
}